body{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.half-width p{
    padding-bottom: 50px;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
}
.name-color{
    color: blueviolet;
}
.half-width{
    float: left;
    width: 30%;
    height: 60%;
    margin: 3%;
    padding: 5%;
    border: 1px solid red;
}
.half-width img{
    margin-left: 3%;
    width: 100%;
}
#section1{
    height: 600px;
    border: 1px solid red;
    background-color: white;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}
.link-btn-border{
    margin: 70px 80px;
    padding: 30px;
    border: 1px solid red;
}
#section2{
    height: 600px;
    border: 1px solid red;
    background-color: white;
}
#section3{
    height: 600px;
    border: 1px solid red;
    background-color: white;
}
#s3{
    text-align: center;
}
.s3div{
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 8px 8px 20px dimgray;
    height: 55%;
    width: 20%;
    float: left;
    margin: 4%;
    padding: 2%;
    border: 1px solid red;
}
.s3div img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#section4{
    height: 300px;
    border:1px solid red;
}
#section5{
    height: 300px;
    border:1px solid red;
    text-align: center;
}

.s4div{
    border: 1px solid red;
    height: 30%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    background-image: url(shapes/footer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.ft{
    text-align: center;
}
.ft img{
    height: 50px;
    width: 50px;
}
.abc{
    text-align: left;
    padding-top: 50px;
}
.def{
    text-align: right;
    padding-bottom: 40px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
.half-shadow{
    float: left;
    width: 30%;
    height: 20%;
    margin-left: 34%;
    border: 1px solid red;
}