body{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.half-width p{
    padding-bottom: 50px;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
}
.name-color{
    color: blueviolet;
}
.half-width{
    float: left;
    width: 33%;
    height: 60%;
    margin: 3%;
    padding: 5%;
}
.half-width img{
    margin-left: 3%;
    width: 100%;
}
#section1{
    height: 600px;

    background-color: white;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}
.link-btn-border{
    margin: 70px 80px;
    padding: 30px;

}
#section2{
    height: 600px;

    background-color: white;
}
#section3{
    height: 600px;
    background-color: white;
}
#s3{
    text-align: center;
}
.visit-btn{

    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 10%;
    margin-bottom: 30px;
    padding: 15px;

 
}
.s3div{
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 8px 8px 20px dimgray;
    height: 55%;
    width: 20%;
    float: left;
    margin: 4%;
    padding: 2%;

}
.space{
    padding-bottom: 10px;
}
.s3div img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#section4{
    height: 150px;

}
#section5{
    height: 300px;
    text-align: center;
}

.s4div{
    height: 20px;
    width: 58% ;
    float: left;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 20%;
    padding: 50px;
    position: center;
    background-image: url(shapes/footer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.ft{
    text-align: center;

}
.ft img{
    height: 40px;
    width: 40px;
}
.abc{
    text-align: left;
}
.def{
    margin-left: 100px;
    text-decoration: none;
    color: white;
}
#day-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato, lightsalmon);
    border-image-slice: 1;
    background-color: white;

}
#day-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #7a8eff, rgb(191, 255, 71));
    border-image-slice: 1;
    background-color: white;
}
#day-3{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
.half-shadow{
    float: left;
    width: 30%;
    height: 20%;
    margin-left: 34%;
}